<div class="container">
    <br>
    <div class="row">
      <div class="col-sm" *ngFor='let p of products; let productId = index'>
        <a [routerLink]="[productId]"> 
          <div class="card">
            <img src='../../../assets/img/phone-cover.jpg' class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-title">{{p.name}}</p>
              <p class="card-text">{{p.description}}</p>
            </div>
          </div>
        </a>       
      </div>
    </div>

    <div >
      <span >
        <button
          (click)="addProduct()"
          type="submit"
          tabindex="2"
        >追加</button>
      </span>
    </div>
</div>



